textarea {
    min-height: 400px;
}

.unread-email {
    border: 2px solid black;
}

.read-email {
    border: 2px solid black;
    background-color: grey;
}

#center_containter {
    text-align: center;
}
